<appSettings>
  <add key="ChartImageHandler" value="storage=file;timeout=30;"/>
  <add key="ADDNS" value="inopsadmin.net"/>
  <add key="urldigi" value="D:\SVN\DIGITALIZACION"/>
	<add key="urlDescuentos" value="D:\SVN\DESCUENTOS"/>
  <add key="urlAgremiados" value="D:\AGREMIADOS"/>
  <add key="urlAportaciones" value="D:\SVN\APORTACIONES"/>
  <add key="urlAportacionesH" value="D:\SVN\APORTACIONESH"/>
  <add key="urlDescuentos" value="D:\SVN\DESCUENTOS"/>
  <add key="urlPrejubilados" value="D:\SVN\PREJUBILADOS"/>
	<add key="server" value="localhost"/>
	<add key="db" value="SNTE5"/>
	<add key="user" value="sa"/>
	<add key="pass" value="1Q.infoquest2"/>
  <add key="WINKEY" value="L6GyoLSzoLG2oLeusKCzsa6xsq65ubm5oLA="/>
  <add key="applicationConsole" value="D:\AGREMIADOS\LeeDBF\LeeTransformaDBF.exe"/>
</appSettings>