<appSettings>
  <add key="ChartImageHandler" value="storage=file;timeout=30;"/>
  <add key="ADDNS" value="inopsadmin.net"/>
  <add key="urldigi" value="E:\DIGITALIZACION"/>
  <add key="urlDescuentos" value="E:\DESCUENTOS"/>
  <add key="urlAgremiados" value="E:\AGREMIADOS"/>
  <add key="urlAportaciones" value="E:\APORTACIONES"/>
  <add key="urlPrejubilados" value="E:\PREJUBILADOS"/>
  <add key="urlestadosdecuenta" value="E:\ESTADOSDECUENTA"/>
  <add key="urlrepexcelchq" value="E:\REPORTE_EXCELCHQ"/>
  <add key="server" value="localhost"/>
  <add key="db" value="SNTE5"/>
  <add key="user" value="sa"/>
  <add key="pass" value="1Q.infoquest2"/>
  <add key="WINKEY" value="L6GyoLSzoLG2oLeusKCzsa6xsq65ubm5oLA="/>
  <add key="applicationConsole" value="E:\AGREMIADOS\LeeDBF\LeeTransformaDBF.exe"/>
  <add key="urlrepexcel" value="E:\REPORTE_EXCEL"/>
</appSettings>


